body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
h1, ul, p{
    margin: 0px;
}
ul{
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
img{
    max-width: 100%;
    display: block;
}
header{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    max-width: 1160px;
    margin: auto;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
nav a{
    color: #000000;
    padding: 16px 0;
    display: inline-block;
    font-size: 18px;
    position: relative;
    font-family: 'Poppins';
    font-weight: 400;
}
nav a::after{
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background-color: #000000;
    margin-top: 4px;
    transition: 0.3s;
    position: absolute;
}
nav a:hover:after{
    width: 100%;
}

@media (max-width: 800px){
    nav ul{
        gap: 20px;
    }
    nav a{
        background-color: #F7F7F7;
        padding: 12px 16px;
        border-radius: 4px;
    }
    nav a:hover{
        background-color: #EDEDED;
    }
    nav a::after{
        display: none;
    }
}
@media (max-width: 600px){
    nav ul{
        gap: 12px;
    }
    nav a{
        padding: 8px 12px;
        font-size: 14px;
    }
}
.introducao-bg{
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/lojas/loja-leopoldina.jpg) center center / cover no-repeat scroll;
}
.introducao{
    padding: 240px 20px 120px;
    color: white;
    box-sizing: border-box;
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
}
.introducao h1{
    margin-bottom: 32px;
    font-size: 64px;
    line-height: 1.125;
    width: 50%;
    font-family: 'Poppins';
    font-weight: 600;
}
.introducao p{
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 1.5;
    color: #b2b2b2;
    width: 50%;
    font-family: 'Roboto';
    font-weight: 400;
}
.introducao a{
    padding: 16px 32px;
    display: inline-block;
    background: linear-gradient(#B0FF57, #66FF31);
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    text-transform: uppercase;
    color: #073300;
    font-size: 18px;
    line-height: 1.33;
    font-family: 'Poppins';
    font-weight: 600;
}
.introducao a:hover{
    background: linear-gradient(#95e43b, #52e222);
}
@media (max-width: 1200px){
    .introducao h1{
        width: 60%;
        font-size: 48px;
    }
    .introducao p{
        font-size: 18px;
    }
}
@media (max-width: 800px){
    .introducao{
        padding: 80px 20 40px;
    }
    .introducao h1{
        margin-bottom: 16px;
        width: 70%;
    }
    .introducao p{
        width: 60%;
    }
}
@media (max-width: 600px){
    .introducao h1{
        font-size: 32px;
        width: 80%;
    }
    .introducao p{
        width: 80%;
    }
    .introducao a{
        padding: 12px 16px;
        font-size: 16px;
    }
}
