header{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}
header nav ul{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
header nav a{
    padding: 16px 0;
    display: inline-block;
    position: relative;
}
header nav a::after{
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background-color: var(--cor-12);
    margin-top: 4px;
    transition: 0.3s;
    position: absolute;
}
header nav a:hover:after{
    width: 100%;
}

@media (max-width: 800px){
    header nav ul{
        gap: 20px;
    }
    header nav a{
        background-color: var(--cor-1);
        padding: 12px 16px;
        border-radius: 4px;
    }
    header nav a:hover{
        background-color: var(--cor-2);
    }
    header nav a::after{
        display: none;
    }
}
@media (max-width: 600px){
    header nav ul{
        gap: 12px;
    }
    header nav a{
        padding: 8px 12px;
        font-size: 14px;
    }
}
@media (max-width: 470px){
    header{
        justify-content: center;
     }
}