.depoimentos{
    padding: 60px 0 120px;
}
.depoimentos h2{
    margin-bottom: 60px;
}
.depoimentos ul{
    max-width: 1400px;
    padding: 0 20px;
    margin: 0 auto;
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr;
}
.depoimentos li{
    background-color: var(--cor-1);
    padding: 32px;
    border-radius: 4px;
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 20px;
    position: relative;
}
.depoimentos li::before{
    content: "";
    display: block;
    height: 100%;
    width: 4px;
    background: linear-gradient(#95e43b, #52e222);
    position: absolute;
}
.depoimentos li div{
    display: flex;
    align-items: center;
    gap: 8px;
}
.depoimentos li img{
    width: 50px;
}
@media (max-width: 800px){
    .depoimentos ul{
        grid-template-columns: 1fr;
    }
}