.oficina-home-bg{
    background: var(--cor-11) url(../../img/dec/bottom-left.svg) no-repeat bottom 100px left 20px;
    box-shadow: inset 0 80px var(--cor-0), inset 0 -80px var(--cor-0) ;
}
.oficina-home{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}
.oficina-home-imagem{
    max-width: 100% ;
}
.oficina-home-imagem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.oficina-home-conteudo{
    padding: 160px 0;
}
.oficina-home-conteudo > span{
    display: block;
    margin-bottom: 20px;
}
.oficina-home-conteudo h2{
    margin-bottom: 32px;
}
.oficina-home-conteudo > p{
    margin-bottom: 20px;
}
.oficina-home-conteudo > a{
    margin-bottom: 80px;
}
.oficina-home-vantagens{
    display: flex;
    gap: 40px;
}
.oficina-home-vantagens h3{
    margin-bottom: 8px;
    width: max-content;
}
.oficina-home-vantagens img{
    width: 24px;
    margin-bottom: 8px;
}
@media (max-width: 800px){
    .oficina-home-bg{
        box-shadow: inset 0 -60px var(--cor-0);
    }
    .oficina-home{
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .oficina-home-conteudo{
        padding: 60px 0;
    }
}
@media (max-width: 600px){
     .oficina-home-vantagens{
        flex-direction: column;
     }
}